form {
    width: 85%;
    margin: 2rem auto 0 auto;
    text-align: center;
}

.data-finalizar {
    display: flex;
    justify-content: start;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
    color: rgb(93, 91, 91)
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
    text-align: start;
}

button {
    margin: 0 .5rem 0 0;
    padding: 0 2rem 0;
}